* {
	box-sizing: border-box;
}

#root {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 13fr 1fr;
}

html,
body {
	margin: 0;
	height: 100%;
}

header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	color: blue;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);

	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	.first-button {
		flex: 0 1 52px;
	}

	.logo {
		flex: 1 1 50%;
		display: flex;
		img {
			height: 50px;
			margin: auto;
		}
	}

	.last-button {
		flex: 0 1 52px;
	}

	.first-button,
	.last-button {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

main {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	grid-column: 1 / 2;
	grid-row: 3/4;

	display: flex;
	justify-content: center;
	align-items: center;
}

.meta-data {
	.info {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		.info-key-value {
			display: flex;

			span {
				flex: 0 1 50%;
				margin: 0 5px;
			}
		}
	}
}

.actions{
	color: $blue-600;
}
